* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body{
    background-image: url(./img/cerveceria.jpg);
    background-size: cover;
}

.titulo {
    text-align: center;
    color: rgb(236, 211, 69);
}
.nav-container {
    position: sticky;
    z-index: 3;
    top: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    height: 2vh;

}

.ver-carrito {

    font-size: 25px;
    margin-right: 20px;
    margin-top: 3.5vh;
    cursor: pointer;

}

.banner {
    background-position: center;
    height: 30%;
    border: solid 3px;
    border-radius: 10px;


}
.banner-container {
    font-size: 2rem;
    text-align: center;
    padding: 2%;
    background-color: rgba(250, 235, 215, 0.241);

}
.banner h1 {
    margin: 0;
    color: white;
    opacity: 0.7;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);


}
